@media (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 141px;
        padding-bottom: 20px;
        padding: 0;
        margin-bottom: 30px;
        align-items: center;
    }
    header nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: min-content;
        padding: 0 40px ;
    }
    header div#logo {
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        height: min-content;
        margin-top: 18px;
        padding: 0 10px;
    }
    header #logo_CXC {
        max-width: 65px;
        min-width: 50px;
    }
    header #logo_nome_CXC {
        max-width: 260px;  
        margin: 10px 0 0 0;
    }
    header nav {
        margin-right: 0%;
        margin-bottom: 7px;
    }
    header nav a { 
        font-size: 20px;
        font-weight: normal;
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul li {
        margin: 5px 0;
    }
   
    main div#fundo {
        display: none;   
    }
    main {
        flex-direction: column;  
        min-height: calc(100vh - 368px);   
    }
    main div.containerCadastro {
        justify-content: center;
        flex-direction: column;
        margin: 0 40px;
    }
    main section {
        flex: 1 1 45%;
        width: 100%;
        min-width: 260px;
        max-width: 527px;
        margin: 0;
    }
    main section h1 {
        font-size: 30px;
    }
    main form p#cadastro {
        font-size: 16px;
    }
    main input.campo {
        margin-bottom: 10px;
    }
    main input#btn_entrar {
        width: 100%;
        margin: 20px 0 10px 0;
    }

    footer {
        margin-top: 70px;
        flex-direction: row;
        background-image: linear-gradient(to right, var(--azulEscuro), #252244);
    }
    footer div#links {
        height: auto;
    }
    
    footer div#fundoContainer {
        display: flex;
        justify-content: center;
        width: min-content;
    }
    footer #img_mulher {
        display: block;
        max-width: 120px;
        min-width: 100px;
        max-height: 175px;
        width: auto;
        height: auto;
        margin: -58px 10px 0 10px;
    }
}

/* Pop-up */
@media (max-width: 470px) {
    div.modal-content {
        width: 99vw;
    }
    div.modal-content form {
        max-width: 350px;
        min-width: 230px;
        width: 100%;
    }
    div.modal-content span img#btnClose {
    }
    div.modal-content div {
        max-width: 350px;
    }
    div.modal-content form label {
        width: 100%;
    }
    div.modal-content div#local {
        width: 100%;
        justify-content: space-between
    }
    div.modal-content #labelUf {
        max-width: 50px;
        width: 100%;
    }
}
@media (max-width: 406px) {
    header nav a {
        font-size: 20px;
    }

    main section h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    footer div#links {
        margin-left: 8px;
    }
    footer div#links p {
        font-size: 16px;
    }
    footer div#links img {
        width: 18px;
        margin-right: 5px;
    }
    footer div#links a {
        width: fit-content;
    }
}
@media (max-width: 313px) {
    main section h1 {
        margin-bottom: 25px;
    }
}