@media (max-width: 768px) {

    header {
        display: block;
        height: 141px;
        padding-bottom: 20px;
    }
    header nav {
        display: flex;
        width: 100%;
        height: min-content;
        padding: 0;
    }
    header div#logo {
        padding: 0;
        height: min-content;
    }
   
    main div#fundo {
        display: none;   
    }
    
    header div#logo {
        transform: scale(0.7);
    }
    #logo_nome_CXC {
        flex-direction: column;
    
    }
    #logo_nome_CXC {
        transform: scale(0.7);
    }
    
    header nav {
        margin-right: 0%;
        margin-bottom: 5px;
        transform: scale(0.7);
    }
    header nav a { 
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin: 5px 0;
    }

    main {
        flex-direction: column;
          
    }

    main section {
        flex: 1 1 45%;
    }

    main section {
        transform: scale(0.7);
        align-items: flex-start;
        margin-right: 0%;
        margin-bottom: 5px;
    }

    
} 