*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --azulEscuro: #100F1E;
    --azul: #2d2c55;
    --amarelo: #EFC406;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

html {
    height: 100vh;
}

header {
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: space-between;
    background-color: var(--azulEscuro);
}
header div#logo {
    width: 515px;
    height: 100%;
    padding: 13px 0px 13px 20px;
    display: flex;
    justify-content: space-between;
    column-gap: 26px;
    align-items: end;
    transition: transform 0.4s ease;
}
#logo_nome_CXC {
    max-width: 383px;
    min-width: 300px;
    width: 100%;
    margin: auto;
    margin-bottom: 6px;
    transition: transform 0.3s ease;
}
header nav {
    height: 100%;
    width: 400px;
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    
}
header nav a {
    color: var(--amarelo);
    font: normal 26px times;
    text-decoration: none;
    transition: 500ms;
}
header nav a:hover {
    transition: 500ms;
    color: #b19000;
}
main {
    display: flex;
    min-height: calc(100vh - 236px);
}
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 374px;
    min-width: 298px;
    max-width: 636px;
    margin: 166px auto 30px 5vw;
    padding-bottom: 118px;
    transition: transform 0.3s ease;
}
main div#fundo {
    margin: 20px 0 20px 0px;
    width: 100%;
    max-width: 524px;
    min-width: 200px;
    margin: 20px 0 auto auto;
}
main div#fundo img {
    width: 100%;
    max-width: 524px;
    min-width: 254px;
    margin: auto;
}
main section h1 {
    font: bold 36px Arial;
    color: var(--azulEscuro);
    text-align: center;
    margin:  0 0 38px 0;
}
main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > section > form > input.campo {
    width: 100%;
    height: 47px;
    font: normal 20px arial;
    padding: 10px;
    margin: 0 0 26px 0 ;
}
main form #senha {
    margin: 0px;
}
main form input {
    border-radius: 5px;
}
main form div#areaEsqueciSenha {
    width: 100%;
    padding-left: 6px;
    margin-bottom: 10px;
}
main form p#esqueciSenha a {
    color: var(--azul);
    font-size: 16px;
    font-weight: bold;
}
main input#btn_entrar {
    width: 166px;
    height: 48px;
    background-color: var(--amarelo);
    font: normal 24px arial;
    margin: 0 0 26px 0;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
main input#btn_entrar:hover {
    transition: 400ms;
    background-color: #cca600;
}
main form p {
    font: normal 20px arial;
    margin: 5px;
}
main form p a {
    font-weight: bold;
    text-decoration: none;
    color: var(--azul);
}
main form p a:hover, #esqueciSenha a:hover{
    color: black;
}
footer {
    height: 118px;
    width: 100%;
    background-image: linear-gradient(to right, var(--azulEscuro),var(--azul));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer div#links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto 10px 28px;
}
footer div#links a {
    width: 193px;
    font: normal 20px arial;
    color: white;
    display: flex;
    text-decoration: none;
    transition: 400ms;
}
footer div#links a:hover {
    background-color: #48487a74;
    padding: 3px;
    border-radius: 5px;
    transition: 400ms;
}
footer div#links img {
    margin-right: 20px;
}
@media (max-width: 768px) {
   
    main div#fundo {
        display: none;   
    }
    
    header div#logo {
        transform: scale(0.7);
    }
    #logo_nome_CXC {
        flex-direction: column;
    
    }
    #logo_nome_CXC {
        transform: scale(0.7);
    }
    
    header nav {
        margin-right: 0%;
        margin-bottom: 5px;
        transform: scale(0.7);
        flex-direction:column-reverse
    }
    header nav a { 
        flex-direction: column;
        align-items: flex-start;
        
    }

    nav ul li {
        margin: 5px 0;
    }

    main {
        flex-direction: column;
          
    }

    main section {
        flex: 1 1 45%;
    }

    main section {
        transform: scale(0.7);
        align-items: flex-start;
        margin-right: 0%;
        margin-bottom: 5px;
    }

    
}

