@media (max-width: 768px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 141px;
        padding-bottom: 20px;
        padding: 0;
        margin-bottom: 30px;
        align-items: center;
    }
    header nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: min-content;
        padding: 0 40px ;
    }
    header div#logo {
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
        height: min-content;
        margin: 10px;
        padding: 0 10px;
    }
    header #logo_CXC {
        max-width: 70px;
        min-width: 50px;
    }
    header #logo_nome_CXC {
        max-width: 320px;  
        margin: 15px 0 0 0;
    }
    header nav {
        margin-right: 0%;
        margin-bottom: 5px;
        /* transform: scale(0.7); */
    }
    header nav a { 
        flex-direction: column;
        align-items: flex-start;
    }
    nav ul li {
        margin: 5px 0;
    }
   
    main div#fundo {
        display: none;   
    }
    main {
        flex-direction: column;  
        min-height: calc(100vh - 319px);   
    }
    main div#containerCadastro {
        justify-content: center;
        flex-direction: column;
        margin: 0 20px;
    }
    main section {
        flex: 1 1 45%;
        /* transform: scale(0.7); */
        width: 100%;
        min-width: 260px;
        max-width: 527px;
        margin: 0;
    }
    main section h1 {
        font-size: 30px;
    }
    main form p#cadastro {
        font-size: 16px;
    }
    main input.campo {
        margin-bottom: 10px;
    }
    main input#btn_entrar {
        width: 100%;
        margin: 20px 0 10px 0;
    }

    footer {
        margin-top: 70px;
        flex-direction: row;
    }
    footer div#fundoContainer {
        display: flex;
        justify-content: center;
        width: 175px;
    }
    footer div#fundoContainer img {
        width: 100%;
        max-width: 118px;
        min-width: 80px;
        position: relative;
    }
} 
@media (max-width: 380px) {
    header nav a {
        font-size: 20px;
    }

    main section h1 {
        font-size: 25px;
    }

    footer div#links {
        transform: scale(0.8);
        margin: 0;
    }
}