*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --azulEscuro: #100F1E;
    --azul: #2d2c55;
    --amarelo: #EFC406;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
}

html {
    height: min-content;
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: space-between;
    background-color: var(--azulEscuro);
    margin-bottom: 25px;
    transition: top 0.3s;
}
header div#logo {
    width: 515px;
    height: 100%;
    padding: 13px 0px 13px 20px;
    display: flex;
    justify-content: space-between;
    column-gap: 26px;
    align-items: end;
    transition: transform 0.4s ease;
}
#logo_nome_CXC {
    max-width: 383px;
    min-width: 210px;
    width: 100%;
    margin: auto;
    margin-bottom: 6px;
    transition: transform 0.3s ease;
}
header nav {
    height: 100%;
    width: 400px;
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}
header nav a {
    color: var(--amarelo);
    font: normal 26px times;
    text-decoration: none;
    transition: 500ms;
}
header nav a:hover {
    transition: 500ms;
    color: #b19000;
}
a.cadastrar {
    cursor: pointer;
}
main {
    margin-top: 180px;
    min-height: calc(100vh - 323px);
}
main div.containerCadastro {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 575px;
    min-width: 394px;
    margin: 0 auto 0 5vw;
    transition: transform 0.3s ease;
}
main div#fundo {
    width: 100%;
    max-width: 524px;
    min-width: 200px;
    margin: auto 0 auto auto;
}
main div#fundo img {
    width: 100%;
    max-width: 524px;
    min-width: 254px;
    margin: auto;
}
main section h1 {
    font: bold 36px Arial;
    color: var(--azulEscuro);
    text-align: center;
    margin:  0 0 38px 0;
}
main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section label {
    width: 100%;
}
main input.campo {
    width: 100%;
    height: 47px;
    font: normal 20px arial;
    padding: 10px;
    margin: 0 0 26px 0 ;
}
main form #senha {
    margin: 0px;
}
main form input {
    border-radius: 5px;
}
main form div#areaEsqueciSenha {
    width: 100%;
    margin-bottom: 10px;
}
main form p#esqueciSenha a {
    color: var(--azul);
    font-size: 16px;
    font-weight: bold;
}
main input#btn_entrar {
    width: 166px;
    height: 48px;
    background-color: var(--amarelo);
    font: normal 24px arial;
    margin: 0 0 26px 0;
    border: none;
    cursor: pointer;
    transition: 400ms;
}
main input#btn_entrar:hover {
    transition: 400ms;
    background-color: #cca600;
}
main form p {
    font: normal 20px arial;
}
main form p a {
    font-weight: bold;
    text-decoration: none;
    color: var(--azul);
}
main form p a:hover, #esqueciSenha a:hover{
    color: black;
}
footer {
    height: 118px;
    width: 100%;
    background-image: linear-gradient(to right, var(--azulEscuro),var(--azul));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 25px;
}
footer div#links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px auto 10px 28px;
}
footer div#links a {
    width: 193px;
    font: normal 20px arial;
    color: white;
    display: flex;
    text-decoration: none;
    transition: 400ms;
    text-align: center;
}
footer div#links a:hover {
    background-color: #48487a74;
    padding: 3px;
    border-radius: 5px;
    transition: 400ms;
}
footer div#links img {
    margin-right: 10px;
}
footer div#links #img_linkedin p {
    padding-top: 2px;
}
footer #img_mulher {
    display: none;
}

.header-hidden {
    top: -117px; /* Ajuste este valor conforme a altura do seu cabeçalho */
}

@media screen and (min-width: 1900px) and (min-height: 1360px) {

    main {
        min-height: calc(100vh - 286px);
    }
    main section {
        transform: scale(1.4);
        margin-left: 210px;
    }
    main div#fundo {
        transform: scale(1.4);
        margin: 200px 105px 0 0;
    }
}

/* Comfigurações Pop-Up */

div.modal {
    background-color: rgba(0, 0, 0, 0.351);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    max-width: 400px;
    margin: auto;
    padding: 20px 20px 0 20px;
    box-shadow: 5px 5px 20px 3px rgba(0, 0, 0, 0.28);
    border-radius: 10px;
}
div.modal-content span {
    width: 100%;
    height: 20px;
    text-align: right;
}
div.modal-content span #btnClose {
    width: 20px;
    cursor: pointer;
    margin: 10px;
}
div.modal-content h1 {
    max-width: 300px;
    text-align: center;
}
div.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: left;
}
div.modal-content form label {
    display: flex;
    flex-direction: column;
    max-width: 345px;
    width: 100%;
    font: 300 16px arial;
    margin-bottom: 13px;
}

div.modal-content form input {
    height: 36px;  
    background-color: rgba(0, 0, 0, 0.06);
    margin-top: 2px;
    padding: 5px;
}
div.modal-content div#local {
    display: flex;
    flex-direction: row;
    gap: 21px; 
}
div.modal-content div#cpfAndData {
    display: flex;
    gap: 21px;
}
div.modal-content #labelData {
    width: 145px;
}
div.modal-content #labelCidade {
    max-width: 180px;
}
#dataNascimento {
    max-width: 143px;
}
#labelUf {
    max-width: 143px;
}
#labelCpf {
    max-width: 180px;
}
#btnCadastrar {
    font: 700 20px arial;
    width: 100%;
    max-width: 347px;
    height: 56px;
    margin: 30px auto;
    background-color: var(--amarelo);
    cursor: pointer;
}
div.hideModal {
    display: none;
    transition: 2s;
}