*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
:root {
    --azulEscuro: #100F1E;
    --azul: #2d2c55;
    --amarelo: #EFC406;
}
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 118px;
    display: flex;
    justify-content: space-between;
    background-color: var(--azulEscuro);
}
header div#logo {
    width: 515px;
    height: 100%;
    padding: 13px 0px 13px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo_nome_CXC {
    width: 383px;
    height: 64px;
}
header nav {
    height: 100%;
    width: 515px;
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    color: var(--amarelo);
    font: normal 26px times;
    text-decoration: none;
}
main {
    margin-top: 118px;
    display: flex;
}
main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 636px;
    height: 374px;
    margin: 166px auto 30px 138px;
}
main div#fundo {
    margin: 20px 0 20px 0px;
}
main div#fundo img {
    width: 524px;
}
main section h1 {
    font: bold 36px Arial;
    color: var(--azulEscuro);
    text-align: center;
    margin:  0 0 38px 0;
}
main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > section > form > input.texto {
    width: 515px;
    height: 47px;
    font: normal 20px arial;
    padding: 10px;
    margin: 0 0 26px 0 ;
}
main form input {
    border-radius: 5px;
}
main input#btn_entrar {
    width: 166px;
    height: 48px;
    background-color: var(--amarelo);
    font: normal 24px arial;
    margin: 0 0 26px 0;
    border: none;
    cursor: pointer;
}
main form p {
    font: normal 20px arial;
}
main form p a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(167, 138, 12);
}
footer {
    height: 154px;
    background-image: linear-gradient(to right, var(--azulEscuro),var(--azul));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
footer div#links {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px auto 20px 28px;
}
footer div#links a {
    width: 193px;
    font: normal 20px arial;
    color: white;
    display: flex;
    text-decoration: none;
}
footer div#links img {
    margin-right: 20px;
}

